<!DOCTYPE HTML>

<html>
	<head>
		<title>Реставрация в Москве и Московской области</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
        <script>
            (function(w,d,u){
                    var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                    var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
            })(window,document,'https://cdn-ru.bitrix24.ru/b20108928/crm/site_button/loader_2_sq9pfg.js');
    </script>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Добро пожаловать!</a></li>
							<li><a href="#one">Чем мы занимаемся</a></li>
							<li><a href="#two">Наши преимущества</a></li>
                            <li><a href="#four">Галерея работ</a></li>
							<li><a href="#three">Оставить заявку</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Реставрация в Москве и Московской области</h1>
							<p>Наша команда осуществляет профессиональную реставрацию корпусной мебели, ламината, дверей, стлов и стульев.
                                Возмодности нашей организации позволяют проводить весь комплекс работ как на крупных объектах, так и на малых.
                                Мы не только проведем всю реконструцию качественно и в срок,но и приятно удивим Вас нашими ценами.
                                Сделав заказ у нас, Вы будете доволны качеством используемых нами материалов, а также качеством нашей работы.
                            </p>
							<ul class="actions">
								<li><a href="#three" class="button scrolly">Заказать звонок специалиста</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="static/images/18966302.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Реставрация дверей</h2>
									<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
									<ul class="actions">
										<li><a href="#three" class="button">Заказать звонок специалиста</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="static/images/rulers-near-blueprints.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Реконструкция и реставрация ламината</h2>
									<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
									<ul class="actions">
										<li><a href="#three" class="button">Заказать звонок специалиста</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="static/images/living-room-scandinavian-interior-design.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Восстановление корпусной мебели, столов, стульев.</h2>
									<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
									<ul class="actions">
										<li><a href="#three" class="button">Заказать звонок специалиста</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Наши преимущества</h2>
							<p>Мы высоко ценим наших клиентов, и заботимся о том чтобы, после нашей работы у Вас остались приятные впечатления.</p>
							<div class="features">
								<section>
									<span class="icon solid major fas fa-medal"></span>
									<h3>Качество работ</h3>
									<p>У нас работают исключительно профессионалы, с большим опытом.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Низкие цены</h3>
									<p>Держим цены без ущерба качеству.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Эффективность</h3>
									<p>Не теряем времени зря, и осуществляем работы в установленный срок.</p>
								</section>
								<section>
									<span class="icon solid major fas fa-address-book"></span>
									<h3>Клиентоориетированность</h3>
									<p>Приедем в удобное для Вас время. Все работы проводятся с учетом пожеланий и требований клиента.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="#three" class="button">Заказать звонок специалиста</a></li>
							</ul>
						</div>
					</section>
                    <section id='four' class="wrapper style2 fade-up">
                        <div class="inner">
                            <h2>Галерея работ</h2>
                            <section></section>

                        </div>

                    </section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Оставить заявку</h2>
							<p>Здесь вы можете отставить заявку на обратный звонок от нашего специалиста.</p>
							<div class="split style1">
								<section>
                                    <script data-b24-form="inline/8/50nsi9" data-skip-moving="true">
                                        (function(w,d,u){
                                            var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                                            var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                                        })(window,document,'https://cdn-ru.bitrix24.ru/b20108928/crm/form/loader_8.js');
                                    </script>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>12345 Somewhere Road #654<br />
											Nashville, TN 00000-0000<br />
											USA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">user@untitled.tld</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(000) 000-0000</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>